<nav class="navbar navbar-dark bg-primary mb-4">
	<div class="container">
		<a class="navbar-brand" href="/">Pollster</a>
	</div>
</nav>
<!-- 
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item active" aria-current="page">Home</li>
	</ol>
  </nav>
  
  <nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a href="#">Home</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Library</li>
	</ol>
  </nav>
   -->
  <!-- <nav aria-label="breadcrumb"  class="navbar navbar-dark bg-primary mb-4">
	<ol class="breadcrumb">
	   <li class="breadcrumb-item"><a class="navbar-brand" href="#">Pollster</a></li>
	   <li class="breadcrumb-item"><a class="navbar-brand" href="#"></a></li> 
	   <li class="breadcrumb-item active" aria-current="page">Data</li> 
	</ol>
  </nav> -->