{% extends 'base.html' %}
{% block content %}

<!-- <div class="card text-center">
  <div class="card-body">
    <h1>Welcome To Pollster</h1>
    <p>This is an example Django polling app</p>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">
        View Available Polls</a
      >
  </div>
  </div> -->


<div class="card" style="width: 30rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body mx-auto">
    <h1 class="card-title">Welcome To Pollster</h1>
    <p class="card-text">This is an example Django polling app.</p>
    <a href="{% url 'polls:index' %}" class="btn btn-primary">View Available Polls</a>
  </div>
</div>
{% endblock %}